@use '../abstracts/' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This sets the default font-size from 16px to 10px
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include mq(tab-land) {
    //width of 1200px
    font-size: 56.25%; //1rem = 9px
  }

  @include mq(tab-port) {
    //width of 900px
    font-size: 50%; //1 rem = 8px
  }

  @include mq(big-desktop) {
    font-size: 75%; //1 rem = 12px
  }
}

body {
  box-sizing: border-box;
  background-color: $color-gray-light;

  @include mq(tab-port) {
    padding: 0;
  }

  a {
    text-decoration: none;
    color: $color-black;
    font-size: $font-medium;
    font-weight: 500;
  }

  .logo {
    width: fit-content;
    margin: auto;
    padding: 2.5rem 0;

    & > a > img {
      width: 18rem;
    }
  }

  .contact {
    margin: 3rem 0 5rem 0;
  }
}

.page {
  background-color: $color-white;
  border-radius: 5px;
  margin: 0 4rem;
}

section {
  padding: 4rem;
}

.option:not(:last-child) {
  padding-bottom: 4rem;
}

::-webkit-scrollbar {
  width: 2rem;
}

::-webkit-scrollbar-track {
  background: $color-gray-medium;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 10px;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
