@use '../abstracts' as *;

.flex {
  display: flex;
  gap: $gap;

  &-center {
    justify-content: center;
  }

  &-sb {
    justify-content: space-between;
  }

  &-lg {
    gap: $gap-large;
  }
}

@each $pos in $position {
  .hr-#{$pos} {
    border-#{$pos}: 1px solid $color-gray-medium;
  }
}
