@use '../abstracts' as *;

.flex {
  display: flex;
  gap: $gap;

  &-center {
    justify-content: center;
  }

  &-sb {
    justify-content: space-between;
  }

  &-lg {
    gap: $gap-large;

    @include mq(tab-port) {
      gap: $gap;
    }
  }

  &-vt {
    flex-direction: column;
    align-items: center;
    gap: $gap-small;
  }
}

@each $pos in $position {
  .hr-#{$pos} {
    border-#{$pos}: 1px solid $color-gray-medium;
  }
}

.helper {
  width: fit-content;
}
