$color-green: #1cc691;
$color-gray-light: #f1f1f1;
$color-gray-medium: #999999;
$color-gray-dark: #777676;
$color-black: #333333;
$color-black-light: #4d4d4d;
$color-maroon: #cf7463;
$color-yellow: #fff4e6;
$color-white: #ffffff;

$color-primary: $color-green;
$color-ok: $color-green;
$color-ok-background: rgba($color-ok, 0.2);
$color-warning: $color-yellow;
