@use 'sass:map';
@use './breakpoints' as *;
@use './colors' as *;

// 'mq' stands for 'media query'
@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @if $key == big-desktop {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @media (max-width: $size) {
      @content;
    }
  }
}

@mixin center-indv {
  display: flex;
  align-items: center;
}

@mixin hide {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

@mixin border {
  border: 1px solid $color-gray-medium;
  border-radius: 5px;
}

@mixin border-active {
  border: 1px solid $color-primary;
  box-shadow: 0 0 5px $color-ok;
}
