@use '../abstracts' as *;

.img-square {
  @include center-indv();
  padding: 2rem;
  border-radius: 5px;

  @include mq(tab-land) {
    padding: 1.5rem;
  }

  &--small {
    width: 10rem;
    height: 10rem;
  }

  &--medium {
    width: 12rem;
    height: 12rem;

    @include mq(tab-land) {
      height: 10rem;
    }
  }

  &--bg-green {
    background-color: $color-ok-background;
  }

  &--bg-gray {
    background-color: $color-gray-light;
  }

  & > * {
    @include center-indv();
  }
}
