@use '../abstracts/' as *;

.option {
  &__label {
    display: flex;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover .option__input ~ .option__check {
      background-color: $color-white;
    }

    &:hover .option__input:checked ~ .option__check {
      background-color: $color-gray-light;
    }

    & .gg-amp,
    & .bl-scr {
      & span {
        font-size: $font-small;
        font-weight: 500;
        border-radius: 50%;
        background-color: $color-gray-medium;
        color: $color-white;
        margin-left: 1rem;
        padding: 0.5rem;
        position: relative;
      }
    }

    & > p::before {
      z-index: 10;
      display: none;
      background-color: $color-ok;
      color: $color-white;
      padding: 1rem;
      border-radius: 5px;
      position: absolute;
      top: 3rem;
      left: 7rem;
      right: -7rem;
    }

    & > .gg-amp::before {
      content: 'AMP is an open source project designed to help web publishers create mobile-optimized content that loads instantly on all devices, according to Google. “We want webpages with rich content like video, animations and graphics to work alongside smart ads, and to load instantaneously,” Google wrote in a blog post.Jul 6, 2016';
    }

    & > .bl-scr::before {
      content: 'This plugin is an All-in-One approach developed by iubenda, which includes functionalities of two powerful solutions that help to make your website GDPR and ePrivacy compliant. ';
    }

    & .gg-amp:hover,
    & .bl-scr:hover {
      &::before {
        display: block;
      }
    }
  }

  &__input {
    @include hide();
  }

  &__input:checked ~ &__check {
    background-color: $color-white;
  }

  &__input:checked ~ &__check::after {
    display: block;
  }

  &__check {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: $color-gray-light;
    transition: all 0.5s;
    @include border();

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid $color-primary;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &--radio {
      border-radius: 50%;

      &::after {
        border: 3px solid $color-primary;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 5px;
        border-radius: 50%;
        background: white;
      }
    }
  }
}
