@use '../abstracts/' as *;

.toggle {
  @include center-indv();

  &__switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3rem;

    @include mq(big-desktop) {
      width: 5.5rem;
    }

    & input {
      @include hide();

      &:checked + .toggle__switch--slider {
        background-color: $color-primary;

        &::before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }

    &--slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-gray-medium;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      border-radius: calc(6rem / 2);

      &::before {
        position: absolute;
        content: '';
        height: 2.6rem;
        width: 2.6rem;
        top: 2px;
        left: 4px;
        background-color: $color-white;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border-radius: 50%;

        @include mq(tab-port) {
          height: 2rem;
          width: 2rem;
          top: 4px;
        }
      }
    }
  }

  &__text {
    font-size: $font-large;
  }
}
