section {
  & > .banner {
    margin-bottom: 3rem;
  }

  & .toggle {
    margin-bottom: 3rem;
  }
}

.header {
  & > * {
    align-items: center;
  }
}

.subtitle {
  margin-bottom: 2rem;
  font-weight: 500;
}
